---
interface Props {
  id: string;
  title: string;
  data: [string, string][];
}

const { id, title, data } = Astro.props;
---

<div id={id} class="flex flex-col gap-4">
  <h2 class="text-4xl text-primary font-bold">{title}</h2>
  <ul class="grid grid-cols-2 gap-1">
    {
      data.map(([title, href]) => (
        <li class="border p-2 hover:border-accent group">
          <a href={href} class="block w-full h-full font-light group-hover:font-semibold">
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</div>
